<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skmapstutorial">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Application.SKMapsApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_big"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.skobbler.ngx.API_KEY"
            android:value="36520a4bb5018375498c5454c3ac72a3f55f912b695fbeb28f9d8d676d976cc6" />

        <activity
            android:name=".Application.Activities.MainActivity"
            android:screenOrientation="portrait">
                  </activity>
        <activity
            android:name=".Application.Activities.PhysicalTourActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Application.Activities.TourOverViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Application.Activities.VirtualTourActivity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Application.Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>